html{
    font-family: avenir;
    background-color: #E6E6FA;
    font-size: 100%;
    margin: 5%;
}

button{

}

body{
    padding-bottom: 10%;
}

input{
    width: 40px;
    margin: 0 5px;
}

.Person .div{
    display: inline;
}
