html{
    font-family: 'Ubuntu Condensed';
    background-color: white;
    font-size: 100%;
    margin: 0;
}

button{

}

input{

}

body{
    padding-bottom: 10%;
}

input{
    width: 40px;
    margin: 0 5px;
}

.Person {
    color: blue;
}

.Person .div{
    display: inline;
}

.left{
    width: 60%; 
    float: left; 
    padding-bottom: 10px;
}

.right{
    float: right; 
    width: 35%;
}

.center{
    margin: 80px auto;
    text-align: center;
}

#party{
    color: red;
}

#bill{
    color: green;
}

#tax, #tip{
    color: purple;
}

#people{
    color: blue;
}

