html{
    font-family: 'Ubuntu Condensed';
    background-color: white;
    font-size: 100%;
    margin: 0;
}

button{
    margin-bottom: 10px;
}

input{

}

body{
    padding-bottom: 10%;
}

input{
    width: 40px;
    margin: 0 5px;
}

.Person {
    color: blue;
}

.Person .div{
    display: inline;
}

#party{
    color: red;
}

#bill{
    color: green;
}

#tax, #tip{
    color: purple;
}

#people{
    color: blue;
}

