html{
    font-family: avenir;
    background-color: coral;
    font-size: 20px;
    margin: 5%;
}

body{
    padding-bottom: 10%;
}

input{
    width: 50px;
    margin: 0 5px;
}

.Person .div{
    display: inline;
}
